<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'feature.css' %}">
</head>
<body>
    <header>
      
        <h6 class="logo" >
          <img height="50px" width="160px" src="{% static 'logo2.png' %}">
        </h6>
        <nav class="navigation">
          <a href="/Features">Features</a>
          <a href="/ForTeams">For Teams</a>|
          <a href="/login/">Log in</a>
          <a href="/register/">Start For Free</a>
          </nav>
      </header> 
      <br>
      <br>
      <br>
      <div class="container my-3">
        <h1 class="text-center" >From overwhelmed <br>to on top of it</h1>
        </div>
      <div class="container my-3">
        <h3 class="text-center" >Todoist gives you the confidence that everything’s organized and <br> accounted for, so you can make progress on the things that <br> are important to you. </h3>
  
      </div>
      
    <br>
    <br>
    <div style="position: relative; width: 1920px; height: 820px;">
        <img class="img1" fetchpriority="high" width="1920" height="820" src="{% static 'f1.png' %}" style="position: absolute; top: 0; left: 0;">
        <iframe class="vid1" width="660" height="315" src="https://www.youtube.com/embed/8ZKq0r-g87M?si=T3nIlWBtFmgScN-Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="position: absolute; top: 0; left: 0;"></iframe>
    </div>
    <div>
      <img class="img1" fetchpriority="high" width="1920" height="820" src="{% static 'f2.png' %}">
      <h2>Start each day <br> feeling calm <br>and in control</h2>
      <h3 class="head3">Get a clear overview of everything on<br> your plate and never lose track of an <br> important task.</h3>
    </div>
    <br>
    <br>
    <div>
     <p class="para">“Todoist gives me the peace of mind knowing <br>I am doing exactly what I need to do, exactly when I need to do it.”
      <br>– Ashley W.</p>
    </div>
    <br>
    <br>
    <br>
    <div>
      <img class="img2" fetchpriority="high" width="1920" height="820" src="{% static 'f3.png' %}">
      <h2 class="head4">Focus your energy<br> on the right things
      </h2>
      <h3 class="head5">Todoist surfaces the right tasks<br> at the right times so you always <br>know what to focus on next..</h3>
    </div>
    <br>
    <br>
    <br>
    <div>
      <p class="para">“I use Todoist to successfully manage all the work of my 13 staff <br>across three departments.”
        <br>– Adam L.</p>
    </div>
    <br>
    <br>
    <br>
    <div>
      <img class="img3" fetchpriority="high" width="1920" height="820" src="{% static 'f4.png' %}">
      <h2 class="head4">Personalize your <br>task views
        
      </h2>
      <h3 class="head5">Build your own task views to fit your unique <br>style and workflow.</h3>
    </div>
    <br>
    <br>
    <br>
    <div>
      <p class="para">“With a combo of labels and filters I'm finally able to sleep<br> easy at night knowing everything is covered!”
       <br> – Jenny S.</p>
    </div>
    <br>
    <br>
    <br>
    <div>
      <img class="img4" fetchpriority="high" width="1920" height="820" src="{% static 'f5.png' %}">
      <h2 class=>Centralize all your <br>work in one place
        
      </h2>
      <h3 class="head3">Simplify your workflow by connecting <br>Todoist to your email, calendar, and files..</h3>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
      <p class="para">“Finally, I can see an overview of all the areas of my life in one place. <br>Everything is broken down into actionable steps.”
        <br>– Maria R.</p>
    </div>
    <br>
    <br>
    <br>
    <div>
      <img class="img5" fetchpriority="high" width="1920" height="820" src="{% static 'f6.png' %}">
      <h2 class=>Everywhere you are
        
      </h2>
      <h3 class="head3">With 10+ apps and plugins, you’ll be able to review <br>your upcoming tasks – and jot down new ones – <br>no matter where you happen to be. Everything stays in <br>perfect sync across all your devices.</h3>
    </div>
    <br>
    <br>
    <br>

    <div class="">
      <h1 class="lasthead" >Millions of people rely on Todoist</h1>
      </div>
    <div class="">
      <h3 class="lasthead2" >for sanity and structure at work and at home </h3>

    </div>
    <div><img class="img6" fetchpriority="high" width="1220" height="520" src="{% static 'f7.png' %}"></div>
    <br>
    <br>
    <br>
    <div>
      <img class="img7" fetchpriority="high" width="1120" height="420" src="{% static 'f8.png' %}">
      <h2 class="head6">Life shouldn’t be chaos.<br>
        Keep it all together with Todoist.
      </h2>
      <br>
      <br>
      <div>
        <a href="{% url 'register' %}" class="button">Start for free</a>
      </div>
      
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  



  

    
    
</body>
</html>