<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'log.css' %}">
</head>
<body >
    <h2 class="logo" >
        <img height="50px" width="160px" src="{% static 'logo2.png' %}">
    </h2>
<div class="container">    
   
<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Register">
    </form>
    <p>By continuing with Login, you agree to Todolist’s Terms of Service and Privacy Policy.</p>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
<div>
    <marquee width="90%" direction="left" height="100px" class="aaa">“We need to do a better job of putting ourselves higher on our own ‘to do’ list.” — Michelle Obama

    </marquee>
</div>

</div>
<div>
    <img class="aa" fetchpriority="high" width="800" height="600" src="{% static 'ccc.jpg' %}">
    
</div>


    
</body>
</html>
